@model MvcApp.Models.Create.CreateSpecialtyModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>Создание Специальности</h2>

@using (Html.BeginForm()) {
    @Html.EditorFor(x=>x)
    <p>
        <button class="btn waves-effect waves-light" type="submit" name="action">
            Добавить
            <i class="mdi-content-send right"></i>
        </button>
    </p>
}

<div>
    @Html.ActionLink("Вернуться назад", "Index")
</div>
