@model MvcApp.Models.Create.CreateContainerModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutBase.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.EditorFor(x=>x)
    <p>
        <input type="submit" value="Save" />
    </p>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
